<div class="row">
    <div class="col-4 mt-4" *ngFor="let book of filteredBooks">
        <div class="card h-100" style="width: 250px;">
            <img src="{{book.thumbnailUrl}}" class="card-img-top" alt={{book.title}} height="250px"
                style="border: black;">
            <div class="card-header">
                <b>{{book.title}}</b>
            </div>
            <div class="card-body">
                <p class="card-title">
                    By,
                    <b>
                        <i>{{book.authors}}</i>
                    </b>
                </p>
            </div>
        </div>
    </div>
</div>