<div class="container" styl2e="height: 300px;">
    <div class="row mt-4">
        <h3 class="text-center">
            Type in the searchbar of HEADER to view
        </h3>
    </div>
    <div class="row mt-4">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h4>
                Typed Text:{{searchservice.searchtext$|async}}
            </h4>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row text-center">
        <app-user-dashboard></app-user-dashboard>
    </div>
</div>

